[project]
	description = Gluster Filesystem - (this is only a public mirror)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramana Raja (Ram-Raja)
[access "refs/for/refs/*"]
	read = group user/Ramana Raja (Ram-Raja)
	push = group user/Ramana Raja (Ram-Raja)
	label-Code-Review = -2..+2 group user/Ramana Raja (Ram-Raja)
	label-Verified = -1..+1 group user/Ramana Raja (Ram-Raja)
	rebase = group user/Ramana Raja (Ram-Raja)
	removeReviewer = group user/Ramana Raja (Ram-Raja)
	submit = group user/Ramana Raja (Ram-Raja)
[access "refs/heads/*"]
	read = group user/Ramana Raja (Ram-Raja)
	create = group user/Ramana Raja (Ram-Raja)
	push = +force group user/Ramana Raja (Ram-Raja)
	pushMerge = group user/Ramana Raja (Ram-Raja)
[access "refs/tags/*"]
	push = +force group user/Ramana Raja (Ram-Raja)
	pushTag = group user/Ramana Raja (Ram-Raja)
	pushSignedTag = group user/Ramana Raja (Ram-Raja)
